%header.bg
  %aグループを作成しました

.contents

  .left-contents
    = render 'shared/side_bar'

  .right-contents

    .right-up-contents
      .right-up-left-contents
        %p.right-user-group
          test-group
        %p.right-user-name
          Member:指尾　慶
      %a
        .right-up-right-contents
          Edit

    .right-middle-contents
      .chat-memory


    .right-down-contents
      = form_for [@group, @message], html: {class: 'message-box'},id:"new_message" do |f|
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


